name: Terraform Deploy (Azure + HCP State)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened, closed]

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      TF_IN_AUTOMATION: "true"
      TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}

      ARM_USE_OIDC: "true"
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt
        run: terraform fmt -check -diff -recursive

      - name: Terraform init (HCP state)
        run: terraform init -input=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        run: |
          terraform plan -input=false \
            -var="deploy_rg_name=${{ vars.resource_group_name }}" \
            -var="location=${{ vars.DEPLOY_LOCATION }}"

      - name: Terraform apply
        if: github.event.action == 'closed' && github.event.pull_request.merged == true
        run: |
          terraform apply -auto-approve -input=false \
            -var="deploy_rg_name=${{ vars.resource_group_name }}" \
            -var="location=${{ vars.DEPLOY_LOCATION }}"
