name: Terraform Azure

run-name: Terraform - ${{ github.event_name }} - ${{ github.ref_name }}

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:
    inputs:
      action:
        description: "Choose what to run"
        type: choice
        required: true
        default: plan
        options:
          - plan
          - apply

permissions:
  id-token: write
  contents: read

concurrency:
  group: terraform-${{ github.ref }}
  cancel-in-progress: false

env:
  TF_IN_AUTOMATION: "true"
  TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}

  ARM_USE_OIDC: "true"
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

jobs:
  precheck:
    name: Precheck
    runs-on: ubuntu-latest
    steps:
      - name: Check required variables
        run: |
          echo "DEPLOY_RG='${{ vars.DEPLOY_RG }}'"
          echo "DEPLOY_LOCATION='${{ vars.DEPLOY_LOCATION }}'"

          if [ -z "${{ vars.DEPLOY_RG }}" ] || [ -z "${{ vars.DEPLOY_LOCATION }}" ]; then
            echo "Missing required repo variables: DEPLOY_RG and/or DEPLOY_LOCATION"
            exit 1
          fi

  fmt:
    name: Terraform Format
    runs-on: ubuntu-latest
    needs: precheck

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt (check)
        run: terraform fmt -check -diff -recursive

  init:
    name: Terraform Init
    runs-on: ubuntu-latest
    needs: fmt

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENAN_
